.oracoes_catecumenos{
   height: 100vh;
  background:linear-gradient(rgba(0,0,0,2.5), rgba(100, 97, 97, 0.137)), url("../imagens/perdao.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  
}

.oracoes_catecumenos h3{
  margin-bottom: 25px;
}
.oracoes_catecumenos p{
  margin:18px;
}

i{
  margin-top: 250px;
  font-size: 25px;
}



.exame_conciencia{
  background: rgb(245, 244, 244);
  padding: 20px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 150px;
  margin-bottom: 150px;
 box-shadow: 0px 0px 1px darkgoldenrod;

}

#exame{
  margin-bottom: 25px;
font-size: 2.9rem;
color: rgb(253, 187, 6);
}