.oracoes_marianas{
   height: 100vh;
  background:linear-gradient(rgba(0,0,0,2.5), rgba(0,0,0,0.5)), url("../imagens/ave-maria.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


.oracoes_marianas i{
  margin-top: 500px;
  font-size: 30px;
  
}