.oracoes_banner{
   height: 100vh;
  background:linear-gradient(rgba(0,0,0,2.5), rgba(0, 0, 0, 0.479)), url("imagens/oracoescover.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  
}