.oracoes_terco{
   height: 100vh;
  background:linear-gradient(rgba(0,0,0,2.5), rgba(0, 0, 0, 0.123)), url("../imagens/terco2.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.oracoes_terco i{
  margin-top: 150px;
  font-size: 30px;
}


.oracoes_terco_misterios{
  padding: 20px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 150px;
  margin-bottom: 150px;
  box-shadow: 0px 0px 1px darkgoldenrod;
}

#salve_rainha h3{
  font-size: 1.9rem;
  color: darkgoldenrod;
}

#salve_rainha p{
  font-size: 1.3rem;
}